<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add new Brand</title>
</head>
<body>
<div id="wrapper">
		<nav class="main">
			<form action="" th:action="@{/inventory/saveBrand}" th:object="${brand}" method="get">
Brand Name: <input type="text" th:field="*{brandName}" class="form-control mb-4 col-4"> <br />
Manufacturer name: <input type="text" th:field="*{manufacturerName}" class="form-control mb-4 col-4"> <br />
Supplier: <input type="text" th:field="*{supplier.companyName}" class="form-control mb-4 col-4"> <br />
<button type="submit" class="btn btn-primary">Save</button>
		</form>
	</nav>
</div>
<!--<table>
 <tr>
   <th>ID</th>
   <th>Brand Name</th>
   <th>Manufacturer Name</th>
   <th>Supplier</th>

 </tr>
 <tr th:each="brand:${brands}">
   <td th:text="${brands.id}">ID</td> 
   <td th:text="${brands.brandName}">Brand Name</td>
   <td th:text="${brands.manufacturerName}">Manufacturer Name</td>
   <td th:text="${brands.supplier}">Supplier</td>
   </tr>
   </table> -->
</body>
</html>