<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<script>
	function mult(original){
		var wholesale, retail, partner;
		wholesale = original * 1.20;
		retail = original * 1.40;
		partner = original * 1.30;
		
		document.getElementById('wholesale').value = wholesale;
		document.getElementById('retail').value = retail;
		document.getElementById('partner').value = partner;
	}
</script>
    
<title>Enter product details</title>
</head>
<body>
<form action="" th:action="${entryform}" th:object="${inventory}" method="POST">
		<label>
		<input type="hidden" th:field="*{productid}" />
		</label>
		<label>
			Name: <input type="text" th:field="*{productName}">
		</label>
		<label>
			Description: <input type="text" th:field="*{description}">
		</label>
		<label>
			Original Price: <input type="number" th:field="*{originalPrice}" name="originalPrice">
		</label>
		<label>
			Wholesale Price: <input type="number" th:field="*{wholesalePrice}" id="wholesale">
		</label>
		<label>
			Retail Price: <input type="number" th:field="*{retailPrice}" id="retail">
		</label>
		<label>
			Partner Price: <input type="number" th:field="*{partnerPrice}" id="partner">
		</label>
		<label>
			Stock Qty: <input type="number" th:field="*{stockQty}">
		</label>
		<label>
			Reorder Level: <input type="number" th:field="*{reorderLevel}">
		</label>
		<label>
			Minumum Order: <input type="number" th:field="*{minimumOrder}">
		</label>
		<label>
			Colour: <input type="text" th:field="*{colour}">
		</label>
		<label>
			Dimensions: <input type="text" th:field="*{dimension}">
		</label>
		<label>
			Subcategory: <input type="text" th:field="*{subcategory}">
		</label>
		<label>
			Brand: <input type="text" th:field="*{usageDetails}">
		</label>
		<label>
			Trans History: <input type="text" th:field="*{transHistory}">
		</label>
	<button type="submit">Save</button>
	</form>
</body>
</html>