<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
    <link type="text/css" media="all" href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
<style>
    label {
        display: inline-block;
        width: 200px;
        margin: 5px;
        text-align: left;
    }
    input{
        display: inline-block;
        width: 200px;
    }
    button {
        width: 200px;
        margin: 10px;
        text-align: center;
        display: block;
    }
</style>
<script>
	function mult(value){
		var w = value * 1.20;
		var r = value * 1.40;
		var p = value * 1.30;
		var wholesale = w.toFixed(2)
		var retail = r.toFixed(2)
		var partner = p.toFixed(2)
		
		document.getElementById('wholesale').value = wholesale;
		document.getElementById('retail').value = retail;
		document.getElementById('partner').value = partner;
	}
</script>
    
<title>Enter product details</title>
</head>
<body>
	<div id="wrapper">
		<nav class="main">
			<form action="" th:action="@{/saveProduct}" th:object="${inventory}" method="POST">
				<input type="hidden" th:value="*{productid}" />
					Name: <br />
				<input type="text" th:value="*{productName}" class="form-control mb-4 col-4"><br />
					Description: <br />
				<input type="text" th:value="*{description}" class="form-control mb-4 col-4"><br />
					Original Price: <br />
				<input type="text" th:value="*{originalPrice}" name="originalPrice" class="form-control mb-4 col-4" onkeyup="mult(this.value)"><br />
					Wholesale Price: <br />
				<input type="text" th:value="*{wholesalePrice}" class="form-control mb-4 col-4" id="wholesale" readonly><br />
					Retail Price: <br />
				<input type="text" th:value="*{retailPrice}" class="form-control mb-4 col-4" id="retail" readonly><br />
					Partner Price: <br />
				<input type="text" th:value="*{partnerPrice}" class="form-control mb-4 col-4" id="partner" readonly><br />
					Stock Qty: <br />
				<input type="number" th:value="*{stockQty}" class="form-control mb-4 col-4"><br />
					Reorder Level: <br />
				<input type="number" th:value="*{reorderLevel}" class="form-control mb-4 col-4"><br />
					Minumum Order: <br />
				<input type="number" th:value="*{minimumOrder}" class="form-control mb-4 col-4"><br />
					Colour: <br />
				<input type="text" th:value="*{colour}" class="form-control mb-4 col-4"><br />
					Dimensions: <br />
				<input type="text" th:value="*{dimension}" class="form-control mb-4 col-4"><br />
			<div class="custom-select">
					Category: <br />
				<select th:object="${category}" name="category">
            		<option th:each="category : *{category}" th:value="${category}"></option>
        		</select>
        	</div><br />
			<div class="custom-select">
				Subcategory: <br />
				<select th:object="${subcategory}" name="subcategory">
            		<option th:each="subcategory : *{subcategory}" th:value="${subcategory}"></option>
        		</select>
			</div><br />
			<div class="custom-select">
				Brand: <br />
				<select th:object="${inventory}" name="brand">
            		<option th:each="brand : *{brand}" th:value="${brand}"></option>
        		</select>
			</div><br />
			<input type="hidden" th:value="*{transHistory}">
		<button type="submit" class="btn btn-primary">Save</button>
	</form>
	</nav>
	</div>
	</div>
</body>
</html>