<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<style>
    label {
        display: inline-block;
        width: 200px;
        margin: 5px;
        text-align: left;
    }
    input{
        display: inline-block;
        width: 200px;
    }
    button {
        padding: 5px;
        margin: 10px;
    }
</style>
<script>
	function mult(original){
		var wholesale, retail, partner;
		wholesale = original * 1.20;
		retail = original * 1.40;
		partner = original * 1.30;
		
		document.getElementById('wholesalePrice').value = wholesale;
		document.getElementById('retailPrice').value = retail;
		document.getElementById('partnerPrice').value = partner;
	}
</script>
    
<title>Enter product details</title>
</head>
<body>
<form action="" th:action="@{/saveProduct}" th:object="${inventory}" method="POST">
		<label>
		<input type="hidden" th:field="*{productid}" />
		</label><br />
		<label>
			Name: <input type="text" th:field="*{productName}">
		</label><br />
		<label>
			Description: <input type="text" th:field="*{description}">
		</label><br />
		<label>
			Original Price: <input type="text" th:field="*{originalPrice}" name="originalPrice">
		</label><br />
		<label>
			Wholesale Price: <input type="text" th:field="*{wholesalePrice}" readonly>
		</label><br />
		<label>
			Retail Price: <input type="text" th:field="*{retailPrice}" readonly>
		</label><br />
		<label>
			Partner Price: <input type="text" th:field="*{partnerPrice}" readonly>
		</label><br />
		<label>
			Stock Qty: <input type="number" th:field="*{stockQty}">
		</label><br />
		<label>
			Reorder Level: <input type="number" th:field="*{reorderLevel}">
		</label><br />
		<label>
			Minumum Order: <input type="number" th:field="*{minimumOrder}">
		</label><br />
		<label>
			Colour: <input type="text" th:field="*{colour}">
		</label><br />
		<label>
			Dimensions: <input type="text" th:field="*{dimension}">
		</label><br />
		<label>
			Subcategory: <input type="text" th:field="*{subcategory}">
		</label><br />
		<label>
			Brand: <input type="text" th:field="*{usageDetails}">
		</label><br />
		<label>
			Trans History: <input type="text" th:field="*{transHistory}">
		</label><br />
	<button type="submit">Save</button>
	</form>
</body>
</html>