<!doctype html>
<html>
<head>
	<title>Fixset List</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<!-- jQuery Modal -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
	<style></style>
	<script type="text/javascript">
		$(document).ready(function() {
			$.getJSON('http://localhost:8090/api/fixsets', function(json) {
				var tr=[];
				for (var i = 0; i < json.length; i++) {
					tr.push('<tr>');
					tr.push('<td>' + json[i].fixsetName + '</td>');
					tr.push('<td>' + json[i].dateCreated + '</td>');					
					tr.push('<td>' + json[i].quantity + '</td>');
					tr.push('</tr>');
				}
				$('table').append($(tr.join('')));
			});
		});
	</script>
</head>
<body>
	<h1>Fixset List</h1>
	<table>
		<tr>
			<th>Fixset Name</th>
			<th>Date Created</th>
			<th>Quantity</th>
		</tr>
	</table>
</body>
</html>