<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	<link type="text/css" media="all" href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
<title>Product Listing</title>
</head>
<body>
<p> Current stock on <span th:text= ${today}>1 January 2020</p>
	<header th:insert="fragments/layout.html :: header"> </header>
	<div th:replace="fragments/layout.html :: menu"></div>

	<h1>Inventory Listing</h1>
	<!-- Add Hyperlink -->
	<a href="EntryForm.html" th:href="@{/inventory/add}">Add Inventory</a>

	<h2 th:if="${not #lists.isEmpty(inventory)}">Inventory List</h2>
	<table th:if="${not #lists.isEmpty(inventory)}" >
		<tr >
			<th >Inventory Id</th>
			<th >Name</th>
			<th >Description</th>
			<th >Original Price</th>
			<th >Wholesale Price</th>
			<th >retail Price</th>
			<th >Partner Price</th>
			<th >Stock Quantity</th>
			<th >Reorder Level</th>
			<th >Minimum Order</th>
			<th >Color</th>
			<th >Dimensions</th>
			<th >SubCategory</th>
			<th >Brand</th>
			<th >Trans History</th>
		</tr>
		<tr th:each="inventory:${inventory}" class="table-row">
			<td th:text=${inventory.memberId}>Id</td>
			<td th:text=${inventory.name}>Name</td>
			<td th:text=${inventory.description}>Description</td>
			<td th:text=${inventory.originalPrice}>Original Price</td>
			<td th:text=${inventory.wholesalePrice}>Wholesale Price</td>
			<td th:text=${inventory.retailPrice}>retail Price</td>
			<td th:text=${inventory.partnerprice}>Partner Price</td>
			<td th:text=${inventory.stockQty}>Stock Quantity</td>
			<td th:text=${inventory.reorderLevel}>Reorder Level</td>
			<td th:text=${inventory.minimumOrder}>Minimum Order</td>
			<td th:text=${inventory.color}>Color</td>
			<td th:text=${inventory.dimensions}>Dimensions</td>
			<td th:text=${inventory.subcategory}>SubCategory</td>
			<td th:text=${inventory.brand}>Brand</td>
			<td th:text=${inventory.transHistory}>Trans History</td>
			<td><a href="EntryForm.html"
				th:href="@{/inventory/edit/}+${inventory.id}">Edit</a></td>
			<td><a href="DeleteMember.html"
				th:href="@{/inventory/delete/}+${inventory.id}">Delete</a></td>
		</tr>
	</table>
    <br/>
	<div th:replace="fragments/layout.html :: footer"></div>
</body>
</html>