<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	<link type="text/css" media="all" href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
<title>Product Listing</title>
</head>
<body>
<h1>Product Listing</h1>


<p> Current stock on <span th:text= ${today}>1 January 2020</span></p>

<table>
 <tr>
   <th>ID</th>
   <th>Name</th>
   <th>Description</th>
   <th>Original Price</th>
   <th>Wholesale Price</th>
   <th>Retail Price</th>
   <th>Partner Price</th>
   <th>Stock Quantity</th>
   <th>Reorder Level</th>
   <th>Minimum Order</th>
   <th>Colour</th>
   <th>Dimension</th>
   <th>Subcategory</th>
   <th>Brand</th>
   <th>Edit</th>

 </tr>
 <tr th:each="product:${plist}">
   <td th:text="${product.id}">ID</td> 
   <td th:text="${product.productName}">Name</td>
   <td th:text="${product.description}">Description</td>
   <td th:text="${product.originalPrice}">Original Price</td>
   <td th:text="${product.wholesalePrice}">Wholesale Price</td>
   <td th:text="${product.retailPrice}">Retail Price</td>
   <td th:text="${product.partnerPrice}">Partner Price</td>
   <td th:text="${product.stockQty}">Stock Quantity</td>
   <td th:text="${product.reorderLevel}">Reorder Level</td>
   <td th:text="${product.minimumOrder}">Minimum Order</td>
   <td th:text="${product.colour}">Colour</td>
   <td th:text="${product.dimension}">Dimension</td>
   <td th:text="${product.subcategory.subcategoryName}">Subcategory</td>
   <td th:text="${product.brand.brandName}">Brand</td>
   <td>Edit</td>
 </tr>
 <tr>
 <td><td><a href="entry-form.html"
				th:href="@{/inventory/addproduct/}">Create</a></td>
</table>

</body>
</html>