<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Reorder Report</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/style.css" th:href="@{/css/style.css}" />
</head>
<body>


	<h1>Reorder</h1>
	<h2>Inventory Reorder Report for products</h2>
	<table>
		<tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Original Price</th>
                  <th>Wholesale Price</th>
                  <th>Retail Price</th>
                  <th>Partner Price</th>
                  <th>Stock Quantity</th>
                  <th>Reorder Level</th>
                  <th>Minimum Order</th>
                  <th>Colour</th>
                  <th>Dimension</th>
                  <th>Subcategory</th>
                  <th>Brand</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                <tr th:each="product:${plist}">
                  <td th:text="${product.id}">ID</td>
                  <td th:text="${product.productName}">Name</td>
                  <td th:text="${product.description}">Description</td>
                  <td th:text="${product.originalPrice}">Original Price</td>
                  <td th:text="${product.wholesalePrice}">Wholesale Price</td>
                  <td th:text="${product.retailPrice}">Retail Price</td>
                  <td th:text="${product.partnerPrice}">Partner Price</td>
                  <td th:text="${product.stockQty}">Stock Quantity</td>
                  <td th:text="${product.reorderLevel}">Reorder Level</td>
                  <td th:text="${product.minimumOrder}">Minimum Order</td>
                  <td th:text="${product.colour}">Colour</td>
                  <td th:text="${product.dimension}">Dimension</td>
                  <td th:text="${product.subcategory.subcategoryName}">Subcategory</td>
                  <td th:text="${product.brand.brandName}">Brand</td>       
			</tr>
	</table>
	<a href="generatereport.html" th:href="@{/report/reorder}" class="btn btn-primary">Generate Report</a>
    <br/>

	
</body>
</html>