<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Supplier Form</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div th:replace="fragments/layout.html :: navbar"></div>

	<h1>Member Form</h1>
	<form action="" th:object="${supplier}" th:action="@{/supplier/save}"
		method="post">
		<fieldset>
			<input type="hidden" th:field="*{id}">
		</fieldset>
		<fieldset>
			Company Name <input type="text" th:field="*{companyName}">
		</fieldset>
		<fieldset>
			Contact No <input type="text" th:field="*{contactNo}">
		</fieldset>

		<fieldset>
			Address <input type="text" th:field="*{address}">
		</fieldset>
		<fieldset>
			Email <input type="text" th:field="*{email}">
		</fieldset>
		<fieldset>
			Postal Code <input type="text" th:field="*{postalCode}">
		</fieldset>
		<fieldset>
			<button type="submit">Save</button> 
		</fieldset>

	</form>
	<br />

</body>
</html>