<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

	<title>Inventory Management System</title>

	<link type="text/css" media="all" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"
		rel="stylesheet">
	<link type="text/css" media="all" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}"
		rel="stylesheet">
	<link type="text/css" media="all" href="../static/css/linearicons/style.css" th:href="@{/css/linearicons/style.css}"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<link type="text/css" media="all" href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
	<!-- datepicker -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>

<body>
	<!-- 	<nav th:replace="fragments/layout.html :: header"></nav> -->
	<div id="wrapper">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid navbar-menu">
				<div class="brand">
					<a href="index.html"><img src="../static/images/logo.png" alt="Logo"
							class="img-responsive logo"></a>
				</div>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<span>Hi, Username.</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="#"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div th:fragment="sidebar" id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="index.html" class=""><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
						<li><a href="#.html" class=""><i class="lnr lnr-car"></i> <span>View Products</span></a></li>
						<li><a href="#.html" class=""><i class="lnr lnr-file-add"></i> <span>Stock Entry
									Forms</span></a></li>
						<li><a href="#.html" class=""><i class="lnr lnr-list"></i> <span>Stock Usage Forms</span></a>
						</li>
						<li><a href="#" class="active"><i class="lnr lnr-chart-bars"></i> <span>Usage Report</span></a>
						</li>
						<li><a href="#.html" class=""><i class="lnr lnr-cog"></i> <span>Manage Users</span></a></li>
						<li><a href="#.html" class=""><i class="lnr lnr-dice"></i> <span>Reorder</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- usageReport -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!---s-->
					<div>
					</div>
					<div class="panel shadow">
						<div class="panel-body">
							<form th:object="${query}">
							<div class="row">
								
								<div class="col-md-2 col-lg-1 panel-content">
									<h4 >ProductID: </h4>
								</div>
								<div class=" col-md-2 col-lg-2 margin-left-20">
									<input type="number" class="form-control" th:field="*{productId}" name="productId" >
								</div>
								<div class="col-md-3 col-lg-2 panel-content">
									<h4 class="text-left">Please select date range: </h4>
								</div>
								<div class="col-md-3 col-lg-3">
									<input type="text" class="form-control" name="daterange" id="daterange" style="width: 200;" value="Select dates">
								</div>

								<input type="hidden" name = "startDate" th:field="*{startDate}" id="start">
								<input type="hidden" name = "endDate" th:field="*{endDate}" id="end">
								
							</div>
							<button type="submit" class="btn btn-success margin-top-30" onclick="submitFunction()" id="generate">Generate report</button> 
						</form>
						</div>
					</div>

<!-- 					<div class="panel shadow" id="report"> -->
<!-- 						<div class="panel-heading"> -->
<!-- 							<h3>Usage History: <span>Product Name</span></h3> -->
<!-- 							<h3>From: <span id="startDate"></span> To: <span id="endDate"></span></h3> -->
<!-- 						</div> -->
<!-- 						<div class="panel-body no-padding"> -->
<!-- 							<table class="table table-striped"> -->
<!-- 								<thead> -->
<!-- 									<tr> -->
<!-- 										<th>Transaction ID</th> -->
<!-- 										<th>UserID</th> -->
<!-- 										<th>Username</th> -->
<!-- 										<th>Date</th> -->
<!-- 										<th>Quantity</th> -->
<!-- 										<th>Transaction Type</th> -->
<!-- 										<th>Remaining Stock</th> -->
<!-- 									</tr> -->
<!-- 								</thead> -->
<!-- 								<tbody> -->
<!-- 									<tr> -->
<!-- 										<td><a href="#">111</a></td> -->
<!-- 										<td>1</td> -->
<!-- 										<td>mechanic1</td> -->
<!-- 										<td>2020-12-11</td> -->
<!-- 										<td>1</td> -->
<!-- 										<td><span class="label label-success">USED</span></td> -->
<!-- 										<td>100</td> -->
<!-- 									</tr> -->
<!-- 									<tr> -->
<!-- 										<td><a href="#">222</a></td> -->
<!-- 										<td>2</td> -->
<!-- 										<td>mechanic2</td> -->
<!-- 										<td>2020-12-12</td> -->
<!-- 										<td>2</td> -->
<!-- 										<td><span class="label label-success">USED</span></td> -->
<!-- 										<td>98</td> -->
<!-- 									</tr> -->
<!-- 								</tbody> -->
<!-- 							</table> -->
<!-- 						</div> -->
<!-- 						<div class="panel-footer"> -->
<!-- 							<div class="row"> -->
<!-- 								<div class="text-right"> -->
<!-- 									<a href="#" class="btn btn-primary">Print report</a> -->
<!-- 									<a href="#" class="btn btn-success">Generate new report</a> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
				</div>
			</div>
		</div>
		<div class="clearfix"></div>


	</div>



<script>
// $(document).ready(function() {
// 	$("#report").hide();

//      $("#generate").click(function () {
//      $("#report").show();
//     });

//    });

	$(function() {
		$('input[name="daterange"]').daterangepicker({
		  autoUpdateInput: false,
			locale: {
				cancelLabel: 'Clear'
			},
	  
		}, function(startDate,endDate) {
			$("#start").val(startDate.format('YYYY-MM-DD'));
			$("#end").val(endDate.format('YYYY-MM-DD'));
		});
	  });
	  
	  $('input[name="daterange"]').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
  });

  $('input[name="daterange"]').on('cancel.daterangepicker', function(ev, picker) {
      $(this).val('');
  });



var endDate = document.getElementById("endDate");
var end = document.getElementById("end");
function submitFunction()
{
	endDate.innerHTML = end.value;
}

</script>
</body>

</html>