<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Form</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	
	<div th:replace="fragments/layout.html :: navbar"></div>

	<h1>User Form</h1>
	<form action="" th:object="${user}" th:action="@{/user/save}"
		method="post">
		<fieldset>
			<input type="hidden" th:field="*{id}">
		</fieldset>
		<fieldset>
			First Name <input type="text" th:field="*{firstName}">
		</fieldset>
		<fieldset>
			Last Name <input type="text" th:field="*{lastName}">
		</fieldset>
		<fieldset>
			User Name <input type="text" th:field="*{userName}">
		</fieldset>
		<fieldset>
			Password <input type="text" th:field="*{password}">
		</fieldset>
		<fieldset>
			Email <input type="text" th:field="*{email}">
		</fieldset>
		<fieldset>
			Contact No. <input type="text" th:field="*{contactNo}">
		</fieldset>
		<fieldset>
			Address <input type="text" th:field="*{address}">
		</fieldset>
		<fieldset>
			<button type="submit">Save</button> 
		</fieldset>

	</form>
	<br />

</body>
</html>