<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Form</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<header th:insert="fragments/layout.html :: header"> </header>
	<div th:replace="fragments/layout.html :: menu"></div>

	<h1>User Form</h1>
	<form action="" th:object="${user}" th:action="@{/user/save}"
		method="post">
		<fieldset>
			<input type="hidden" th:field="*{id}">
		</fieldset>
		<fieldset>
			First Name <input type="text" th:field="*{firstName}">
		</fieldset>
		<fieldset>
			Last Name <input type="text" th:field="*{lastName}">
		</fieldset>
		<fieldset>
			<input type="submit" value="Save" /> 
		</fieldset>

	</form>
	<br />
	<div th:replace="fragments/layout.html :: footer"></div>
</body>
</html>